/* only for visualisation: */
/* (can be deleted) */
div {
    border: 1px solid grey;
}

div.container {
    /* optional styles for the container */
}

div.column {
    float: left;
}

div.row {
    width: 100%;
    display: inline-flex;
}

div.col1 {
    width: 8.33%;   
}

div.col2 {
    width: 16.66%;
}

div.col3 {
    width: 25.00%;
}

div.col4 {
    width: 33.33%;
}

div.col5 {
    width: 41.66%;
}

div.col6 {
    width: 50.00%;
}

div.col7 {
    width: 58.33%;   
}

div.col8 {
    width: 66.66%;   
}

div.col9 {
    width: 75.00%;   
}

div.col10 {
    width: 83.33%;   
}

div.col11 {
    width: 91.66%;   
}

div.col12 {
    width:100.00%;   
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}